client/src/main/java/t1708e/webservice/client/service/category.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="CategoryServiceService">
<types>
<xsd:schema>
    <xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/category?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
    <part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="findById">
    <part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
    <part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="findAll">
    <part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse"/>
</message>
<portType name="CategoryService">
<operation name="delete">
    <input wsam:Action="http://service/CategoryService/deleteRequest" message="tns:delete"/>
    <output wsam:Action="http://service/CategoryService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="findById">
    <input wsam:Action="http://service/CategoryService/findByIdRequest" message="tns:findById"/>
    <output wsam:Action="http://service/CategoryService/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="findAll">
    <input wsam:Action="http://service/CategoryService/findAllRequest" message="tns:findAll"/>
    <output wsam:Action="http://service/CategoryService/findAllResponse" message="tns:findAllResponse"/>
</operation>
</portType>
<binding name="CategoryServicePortBinding" type="tns:CategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
    <soap:operation soapAction=""/>
<input>
    <soap:body use="literal"/>
</input>
<output>
    <soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
    <soap:operation soapAction=""/>
<input>
    <soap:body use="literal"/>
</input>
<output>
    <soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
    <soap:operation soapAction=""/>
<input>
    <soap:body use="literal"/>
</input>
<output>
    <soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CategoryServiceService">
<port name="CategoryServicePort" binding="tns:CategoryServicePortBinding">
    <soap:address location="http://localhost:9000/category"/>
</port>
</service>
</definitions>