client/src/main/java/t1708e/webservice/client/service/place1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PlaceServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/place?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="save">
<part name="parameters" element="tns:save"></part>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"></part>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"></part>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"></part>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"></part>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"></part>
</message>
<portType name="PlaceService">
<operation name="delete">
<input wsam:Action="http://service/PlaceService/deleteRequest" message="tns:delete"></input>
<output wsam:Action="http://service/PlaceService/deleteResponse" message="tns:deleteResponse"></output>
</operation>
<operation name="save">
<input wsam:Action="http://service/PlaceService/saveRequest" message="tns:save"></input>
<output wsam:Action="http://service/PlaceService/saveResponse" message="tns:saveResponse"></output>
</operation>
<operation name="findAll">
<input wsam:Action="http://service/PlaceService/findAllRequest" message="tns:findAll"></input>
<output wsam:Action="http://service/PlaceService/findAllResponse" message="tns:findAllResponse"></output>
</operation>
<operation name="findById">
<input wsam:Action="http://service/PlaceService/findByIdRequest" message="tns:findById"></input>
<output wsam:Action="http://service/PlaceService/findByIdResponse" message="tns:findByIdResponse"></output>
</operation>
</portType>
<binding name="PlaceServicePortBinding" type="tns:PlaceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="save">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PlaceServiceService">
<port name="PlaceServicePort" binding="tns:PlaceServicePortBinding">
<soap:address location="http://localhost:9000/place"></soap:address>
</port>
</service>
</definitions>