client/src/main/java/t1708e/webservice/client/service/register.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="SignUpServiceService">
<types>
<xsd:schema>
    <xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/register?xsd=1"/>
</xsd:schema>
</types>
<message name="create">
    <part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
    <part name="parameters" element="tns:createResponse"/>
</message>
<message name="findByUsername">
    <part name="parameters" element="tns:findByUsername"/>
</message>
<message name="findByUsernameResponse">
    <part name="parameters" element="tns:findByUsernameResponse"/>
</message>
<message name="findByEmail">
    <part name="parameters" element="tns:findByEmail"/>
</message>
<message name="findByEmailResponse">
    <part name="parameters" element="tns:findByEmailResponse"/>
</message>
<portType name="SignUpService">
<operation name="create">
    <input wsam:Action="http://service/SignUpService/createRequest" message="tns:create"/>
    <output wsam:Action="http://service/SignUpService/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findByUsername">
    <input wsam:Action="http://service/SignUpService/findByUsernameRequest" message="tns:findByUsername"/>
    <output wsam:Action="http://service/SignUpService/findByUsernameResponse" message="tns:findByUsernameResponse"/>
</operation>
<operation name="findByEmail">
    <input wsam:Action="http://service/SignUpService/findByEmailRequest" message="tns:findByEmail"/>
    <output wsam:Action="http://service/SignUpService/findByEmailResponse" message="tns:findByEmailResponse"/>
</operation>
</portType>
<binding name="SignUpServicePortBinding" type="tns:SignUpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="create">
    <soap:operation soapAction=""/>
<input>
    <soap:body use="literal"/>
</input>
<output>
    <soap:body use="literal"/>
</output>
</operation>
<operation name="findByUsername">
    <soap:operation soapAction=""/>
<input>
    <soap:body use="literal"/>
</input>
<output>
    <soap:body use="literal"/>
</output>
</operation>
<operation name="findByEmail">
    <soap:operation soapAction=""/>
<input>
    <soap:body use="literal"/>
</input>
<output>
    <soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SignUpServiceService">
<port name="SignUpServicePort" binding="tns:SignUpServicePortBinding">
    <soap:address location="http://localhost:9000/register"/>
</port>
</service>
</definitions>